<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!login" [formGroup]="miForm">
    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating">
        <ion-icon name="mail" item-start></ion-icon>
        Tu correo
      </ion-label>
      <ion-input color="secondary" type="email" formControlName="emailControl" required></ion-input>
    </ion-item>

    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating">
        <ion-icon name="lock-closed" item-start></ion-icon>
        Tu contraseña
      </ion-label>
      <ion-input color="secondary" type="password" formControlName="passwordControl" required></ion-input>
    </ion-item>
    <p ion-text class="text08" *ngIf="(miForm.get('emailControl').touched || miForm.get('emailControl').dirty) && miForm.get('emailControl').hasError('required')">
      <ion-text color="warning">Error - Email is required</ion-text>
    </p>
    <p ion-text class="text08" *ngIf="(miForm.get('emailControl').touched || miForm.get('emailControl').dirty) && miForm.get('emailControl').hasError('email')">
      <ion-text color="warning">Error - Email must be an Email</ion-text>
    </p>
    <p ion-text class="text08" *ngIf="(miForm.get('passwordControl').touched || miForm.get('passwordControl').dirty) && miForm.get('passwordControl').hasError('required')">
      <ion-text color="warning">Error - Password is required</ion-text>
    </p>
    <p ion-text class="text08" *ngIf="(miForm.get('passwordControl').touched || miForm.get('passwordControl').dirty) && miForm.get('passwordControl').hasError('minlength')">
      <ion-text color="warning">Error - Password must be at least 6 characters</ion-text>
    </p>
    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="doLogin()" [disabled]="!miForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        Entrar
      </ion-button>
    </div>
  </div>
  <div *ngIf="login">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Login enviado!
        </ion-card-title>
      </ion-card-header>
      <ion-card-content style="color:#75ceff">
        <b>Email:</b> {{ miForm.value.emailControl }} <br>
        <b>Clave:</b> {{ miForm.value.passwordControl }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>